<div style="height:10px;"></div>
<div class="row">
  <div class="col-md-4 col-md-offset-8">
    <div class="form-inline">
      <button class="btn btn-sm btn-primary  pull-right" style="width:80px;" *ngIf="!editing"  (click)="editing = !editing">Custom</button>
      <button class="btn btn-sm btn-success pull-right" style="width:80px;" *ngIf="editing"  (click)="editing = !editing">Done</button>
      <div class="form-group  pull-right">
        <label>Global Configs</label>
        <select class="form-control input-sm" [(ngModel)]="defaultCfgSelected" (ngModelChange)="selectDefaultCfg($event)">
          <option value=""></option>
          <option *ngFor="let cfg of defaultConfigs" value="{{cfg.id}}">{{cfg.name}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="editing">
  <div class="form-inline">
    <div class="form-group col-md-4">
      <label>Layout Config Name</label>
      <input type="text" class="form-control" [(ngModel)]="config.name" placeholder="name of the layout">
    </div>
    <button class="btn btn-success btn-sm" style="width:80px;" (click)="saveConfig()">Save</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12  col-md-6 col-lg-6">
    <bs-sortable [(ngModel)]="config.layout.leftWidgets" [itemTemplate]="template" itemClass="sortable-item"
      itemActiveClass="sortable-item-active" placeholderItem="Drag and drop here" placeholderClass="placeholderStyle"
      wrapperClass="sortable-wrapper"></bs-sortable>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6">
    <bs-sortable [(ngModel)]="config.layout.rightWidgets" [itemTemplate]="template" itemClass="sortable-item"
      itemActiveClass="sortable-item-active" placeholderItem="Drag and drop here" placeholderClass="placeholderStyle"
      wrapperClass="sortable-wrapper"></bs-sortable>
  </div>
</div>

<ng-template #template let-item="item" let-index="index">
  <app-widget *ngIf="editing || !item.value.hidden" [editing]="editing" [widgetCfg]="item.value"></app-widget>
</ng-template>